html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    box-shadow: 3px 3px 3px grey;
    border: 1px solid grey;
    background: white;
    margin: 15px auto;
    padding: 15px;
    border-radius: 15px;
    width: 80%;
}

.subtext {
    color: grey;
    font-size: 12px;
}

input[type=text] {
    padding: 4px 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 3px 3px 3px grey;
    font-size: 12px;
}

thead,
th,
td {
    border: 1px solid grey;
    padding: 2px 4px;
}

thead,
thead *,
.blue {
    background: lightblue;
}
.fixed_header tbody{
    display:block;
    overflow:auto;
    height:200px;
    width:100%;
}
.fixed_header thead tr{
    display:block;
}
.sticky_thead thead,
.sticky_thead thead * {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: -1px;
    z-index: 10;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=submit] {
    background: white;
    border: 2px solid blue;
    box-shadow: 5px 5px 5px grey;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 2em;
}

input[type=submit]:hover {
    cursor: pointer;
    background: lightgray;
}

label {
    font-weight: bold;
    margin-right: 4px;
}

.green {
    background: lightgreen;
}

.searchName {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.searchName input[type=text] {
    font-size: 18px;
}

[card] {
    display: inline-block;
}
[card] input[type=checkbox] {
    position: absolute;
    transform: scale(2) translate(10px, 10px);
    cursor: pointer;
}
[card] input[type=checkbox]:checked + [card-body] { 
    border: 1px solid green;
    background: lightgreen;
}
[card] [image] {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
[card] > [card-body] {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 5px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 3px 3px 3px lightgray;
}
[card] > [card-body] > *:nth-child(1n+2) {
    margin-top: 5px;
}

[game_count] {
    color: rgba(0,0,0,0.6);
}

[game_playtime_total], [game_playtime_percent] {
    color: purple;
}

[game_minutes], [user_playtime_percent] {
    color: blue;
}

[user_playtime_number] {
    font-size: 1.4em;
}

[start_again] {
    float: right;
}
[profile] {
    padding: 5px;
}